
/* div principal */
#home{
    background-position: auto;
}

#home .head{
    display:flex;      
}

/* barra de pesquisa */
#home header input{
    width: 100%;
    max-width: 3000px;
    margin-left: 500px;
    border-radius: 5px;
    background-color: rgb(231, 221, 221);
    box-sizing: border-box;
    
}

#home header button{
    display: flex;
    align-items: center;
}


body{
    background-color: rgb(248, 249, 250);
}