
/* div principal */
#home{
    background-position: auto;
}

#home .head{
    display:flex;      
}

/* barra de pesquisa */
#home header input{
    width: 100%;
    max-width: 3000px;
    margin-left: 500px;
    border-radius: 5px;
    background-color: rgb(231, 221, 221);
    box-sizing: border-box;
    
}

#home header button{
    display: flex;
    align-items: center;
}


body{
    background-color: rgb(248, 249, 250);
}

#content{ 
	display: flex;
	position:relative;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:85%x;
	height:486px;
}
#fundo { 
	display: flex;
	box-shadow:0px 4px 130px rgba(0, 0, 0, 0.25);
	background-color:write;
	width:80%;
	height:300px;
	position:absolute;
	left:0px;
	top:75px;
	border-radius: 20px 20px 20px 20px;
}

#imagem { 
	display: flex;
	background-color:rgba(21, 247, 16);
	width:80%;
	height:50px;
	position:absolute;
	left:0px;
	top:75px;
	border-radius: 20px 20px 20px 20px;
}
#imagem img { 
	display: flex;
	opacity: 1;
    width: 200px;
    height: 200px;
    position: relative;
    left: 55px;
    top: 90px;
    background-repeat: no-repeat;
}

#preco { 
	display: flex;
	color:black;
	width:169px;
	height:55px;
	position:absolute;
	left:635px;
	top:244px;
	font-family:Titillium Web;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
#desconto{ 
	color:black;

	width:474px;
	height:55px;
	position:absolute;
	left:70px;
	top:75px;
	font-family:Titillium Web;
	text-align:left;
	font-size:36px;
	letter-spacing:0;

}
#anuncio{ 
	color:rgba(0, 0, 0, 1);
	width:384px;
	height:74px;
	position:absolute;
	left:549px;
	top:143px;
	font-family:Titillium Web;
	text-align:left;
	font-size:24px;
	letter-spacing:0;

}

#cadrastro { 
	display: flex;
	position: absolute;
	align-self: center;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:90%;
	height:160px;
}
#candatroVermelho { 
	display: flex;
	background-color:rgba(215, 38, 61, 1);
	opacity:1;
	width:100%;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
#span{ 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:70%;
	height:37px;
	position:absolute;
	left:230px;
	top:9px;
	font-family:Titillium Web;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#input { 
	display: flex;
	/* input[type=text]{outline:none} */
	background-color: white;
	font-size: 20px;
	/* //opacity:1; */
	width:60%;
	height:37px;
	position: relative;;
	left:230px;
	top:46px;
	outline: 0;
}


#botao { 
	flex: 1;
	align-self: flex-end;
	background-color: white;
	font-family:Titillium Web;
	text-align: center;
	font-size: 20px;
	width:200px;
	height:40px;
	position: absolute;
	left:429px;
	top:103px;
	border-radius: 20px 20px 20px 20px;
	outline: 0;
}

#login { 
	display: flex;
	
	width:105px;
	height:37px;
	font-size: 18px;
	position:absolute;
	left:90%;
	top:14px;
	font-family:Roboto;
	text-align:left;
	
	
}

#barraSuperior { 
	display: box;
	position:relative;
	background-color:rgba(127, 131, 228);
	background-image:linear-gradient(0deg, rgba(142, 146, 231, 1) 0%,rgba(255, 255, 255, 1) 100%) ;
	width:100%;
	height:126px;
}


#barraSuperior-img { 
	display: flex;
	top: 40px;
	padding-left: 10px;
    position: relative;
    background-repeat: no-repeat;
}

.botão-Acessibilidade-{
	display: 1;
	opacity: 1;
	position: relative;	
	font-family:Titillium Web;
	text-align: center;
	font-size: 23px;
	width:0px;
	height:0px;
	position: absolute;
	left:80%;
	top:10px;
	border: 0px;
}

.botão-Acessibilidade{
	display: 1;
	opacity: 1;
	position: relative;	
	font-family:Titillium Web;
	text-align: center;
	font-size: 23px;
	width:0px;
	height:0px;
	position: absolute;
	left:83%;
	top:10px;
	border: 0px;
}

#altoContraste{
	display: 1x;
	width:100px;
	height:37px;
	font-size: 18px;
	position:relative;
	left:85%;
	top:20px;
	font-family:Roboto;
	text-align:left;
}

#ei118_95_46_3 { 
	width:407px;
	height:72px;
	position:absolute;
	left:940px;
	top:1px;
}

#ei118_95_221_758 { 
	width:262px;
	height:72px;
	position:absolute;
	left:-802px;
	top:-1px;
}

#ei118_95_221_876 { 
	opacity:1;
	width:70px;
	height:70px;
	position:absolute;
	left:42px;
	top:1px;
}

#ei118_95_221_925 { 
	border-radius:500px;
	opacity:1;
	border:1px solid rgba(98.81249696016312, 97.57734283804893, 97.57734283804893, 1);
	width:61px;
	height:61px;
	position:absolute;
	left:-175px;
	top:4px;
}
#ei118_95_221_929 { 
	border-radius:500px;
	opacity:1;
	border:1px solid rgba(98.81249696016312, 97.57734283804893, 97.57734283804893, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:-154px;
	top:12px;
}
#ei118_95_221_952 { 
	border-radius:500px;
	opacity:1;
	border:1px solid rgba(98.81249696016312, 97.57734283804893, 97.57734283804893, 1);
	width:34px;
	height:20px;
	position:absolute;
	left:-162px;
	top:29px;
}
#ei118_95_111_371 { 
	opacity:1;
	width:502px;
	height:56px;
	position:absolute;
	left:981px;
	top:60px;
}
#ei118_95_111_397 { 
	color:rgba(98.81249696016312, 97.57734283804893, 97.57734283804893, 1);
	opacity:1;
	width:59.235992431640625px;
	height:49.53845977783203px;
	position:absolute;
	left:-730px;
	top:-47.07692337036133px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#ei118_95_111_398 { 
	color:rgba(98.81249696016312, 97.57734283804893, 97.57734283804893, 1);
	opacity:1;
	width:38.152008056640625px;
	height:34.46154022216797px;
	position:absolute;
	left:-670.7640075683594px;
	top:-47.07692337036133px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#ei118_95_111_396 { 
	color:rgba(98.81249696016312, 97.57734283804893, 97.57734283804893, 1);
	opacity:1;
	width:283.12799072265625px;
	height:43.07692337036133px;
	position:absolute;
	left:-981px;
	top:-47.07692337036133px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#ei118_95_34_2 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:604px;
	height:43px;
	position:absolute;
	left:321px;
	top:41px;
}
#ei118_95_218_121 { 
	opacity:1;
	width:43px;
	height:43px;
	position:absolute;
	left:240px;
	top:-41px;
}
#ei118_95_218_194 { 
	border-radius:500px;
	opacity:1;
	border:3px solid rgba(0, 0, 0, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:-556px;
	top:6px;
}
#ei118_95_218_198 { 
	transform: rotate(-49.6938783837733deg);
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:8px;
	height:15px;
	position:absolute;
	left:-537px;
	top:29.100830078125px;
}
#ei118_95_41_2 { 
	color:rgba(20.000000707805157, 33.00000183284283, 61.00000016391277, 1);
	opacity:1;
	width:553px;
	height:31px;
	position:absolute;
	left:-316px;
	top:-35px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#ei118_95_46_2 { 
	opacity:1;
	width:265px;
	height:62px;
	position:absolute;
	left:19px;
	top:32px;
}
#ei118_95_106_357 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	opacity:1;
	width:259px;
	height:55px;
	position:absolute;
	left:-16px;
	top:-29px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
	
	background-repeat:no-repeat;
}
#ei118_95_218_1006 { 
	opacity:1;
	width:77px;
	height:73px;
	position:absolute;
	left:1013px;
	top:0px;
}
#ei118_95_218_1077 { 
	opacity:1;
	width:77px;
	height:66px;
	position:absolute;
	left:-1012.9999999999999px;
	top:3px;
	
	background-repeat:no-repeat;
}


#e83_29 { 
	position:relative;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1231px;
	height:477px;
}
#e83_10 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:235px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Titillium Web;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e83_12 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:233px;
	height:387px;
	position:absolute;
	left:998px;
	top:90px;
}
#ei83_12_53_1 { 
	box-shadow:50px 40px 100px rgba(0, 0, 0, 0.5);
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	opacity:1;
	width:233px;
	height:337px;
	position:absolute;
	left:0px;
	top:50px;
}
#ei83_12_61_3 { 
	opacity:1;
	width:165px;
	height:320px;
	position:absolute;
	left:34px;
	top:0px;
	
	background-repeat:no-repeat;
}
#ei83_12_61_16 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:99px;
	height:33px;
	position:absolute;
	left:67px;
	top:287px;
	font-family:Titillium Web;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#e83_13 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:233px;
	height:387px;
	position:absolute;
	left:668px;
	top:90px;
}
#ei83_13_53_0 { 
	box-shadow:50px 40px 100px rgba(0, 0, 0, 0.5);
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	opacity:1;
	width:233px;
	height:337px;
	position:absolute;
	left:0px;
	top:50px;
}
#ei83_13_61_15 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:111px;
	height:33px;
	position:absolute;
	left:61px;
	top:287px;
	font-family:Titillium Web;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#ei83_13_61_2 { 
	opacity:1;
	width:165px;
	height:320px;
	position:absolute;
	left:34px;
	top:0px;
	background-repeat:no-repeat;
}
#e83_14 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:233px;
	height:387px;
	position:absolute;
	left:8px;
	top:90px;
}
#ei83_14_48_1 { 
	box-shadow:50px 40px 100px rgba(0, 0, 0, 0.5);
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:233px;
	height:337px;
	position:absolute;
	left:0px;
	top:50px;
}
#ei83_14_61_12 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:99px;
	height:33px;
	position:absolute;
	left:58px;
	top:295px;
	font-family:Titillium Web;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#ei83_14_58_3 { 
	opacity:1;
	width:165px;
	height:320px;
	position:absolute;
	left:25px;
	top:0px;
	
	background-repeat:no-repeat;
}
#e83_15 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:233px;
	height:387px;
	position:absolute;
	left:338px;
	top:90px;
}
#ei83_15_48_6 { 
	box-shadow:50px 40px 100px rgba(0, 0, 0, 0.5);
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	opacity:1;
	width:233px;
	height:337px;
	position:absolute;
	left:0px;
	top:50px;
}
#ei83_15_61_1 { 
	opacity:1;
	width:165px;
	height:320px;
	position:absolute;
	left:34px;
	top:0px;

	background-repeat:no-repeat;
}
#ei83_15_61_13 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:111px;
	height:33px;
	position:absolute;
	left:61px;
	top:287px;
	font-family:Titillium Web;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
