/* body{
    background-color: white;
} */
@media (max-width: 1025px){
body {
	font-size: 14px
}
}

#content{ 
	position: sticky;
    width: 950px;
    height: 430px;
    left: 71px;
    top: initial;

}

#content1{ 
	position: sticky;
    width: 950px;
    height: 430px;
    left: 71px;
    top: 1167px;

    
}
#fundo { 
	grid-row:auto ;
	display: flex;
	box-shadow:0px 4px 130px rgba(0, 0, 0, 0.25);
	background-color:write;
	width:80%;
	height:300px;
	position:absolute;
	left:0px;
	top:75px;
	border-radius: 20px 20px 20px 20px;
}

#imagem { 
	display: flex;
	background-color:rgba(21, 247, 16);
	width:80%;
	height:50px;
	position:absolute;
	left:0px;
	top:75px;
	border-radius: 20px 20px 20px 20px;
}
#imagem img { 
	display: flex;
	opacity: 1;
    width: 200px;
    height: 200px;
    position: relative;
    left: 55px;
    top: 90px;
    background-repeat: no-repeat;
}

#preco { 
	display: flex;
    position: absolute;
    left: 500px;
    top: 244px;
    font-family: Titillium Web;
    /* text-align: left; */
    font-size: 36px;
}
#desconto{ 
	color:black;
	position:absolute;
	left:70px;
	top:75px;
	font-family:Titillium Web;
	text-align:left;
	font-size:36px;
	letter-spacing:0;

}
#anuncio1{ 
	width: 500px;
    display: flex;
    position: absolute;
    left: 30%;
    top: 143px;
    font-family: Titillium Web;
    text-align: left;
    font-size: 24px;

}

#cadrastro { 
	left: 5%;
	right: 10%;
	bottom: 24%;
	display:flex;
	position: relative;
	width:90%;
	height:160px;
}


#candatroVermelho { 
	display: flex;
	background-color:rgba(215, 38, 61, 1);
	opacity:1;
	width:100%;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}

#span{ 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:70%;
	height:37px;
	position:absolute;
	left:230px;
	top:9px;
	font-family:Titillium Web;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#input { 
	display: flex;
	/* input[type=text]{outline:none} */
	background-color: white;
	font-size: 20px;
	/* //opacity:1; */
	width:60%;
	height:37px;
	position: relative;;
	left:230px;
	top:46px;
	outline: 0;
}


#botao { 
	flex: 1;
	align-self: flex-end;
	background-color: white;
	font-family:Titillium Web;
	text-align: center;
	font-size: 20px;
	width:200px;
	height:40px;
	position: absolute;
	left:429px;
	top:103px;
	border-radius: 20px 20px 20px 20px;
	outline: 0;
}

#login { 
	display: flex;
	
	width:105px;
	height:37px;
	font-size: 18px;
	position:absolute;
	left:90%;
	top:14px;
	font-family:Roboto;
	text-align:left;
	
	
}

#barraSuperior { 
	display: box;
	position:relative;
	background-color:rgba(127, 131, 228);
	background-image:linear-gradient(0deg, rgba(142, 146, 231, 1) 0%,rgba(255, 255, 255, 1) 100%) ;
	width:100%;
	height:126px;
}


#barraSuperior-img1 { 
	display: flex;
	top: 40px;
	padding-left: 10px;
	top: center;
    position: relative;
    background-repeat: no-repeat;
}

#barraSuperior-img2 { 
	position: relative;
	display: flex;
	top: 45px;
	padding-left: 10px;
	left: 53.5%;
    position: absolute;
    background-repeat: no-repeat;
}

.botão-Acessibilidade-{
	display: 1;
	opacity: 1;
	position: relative;	
	font-family:Titillium Web;
	text-align: center;
	font-size: 23px;
	width:0px;
	height:0px;
	position: absolute;
	left:80%;
	top:10px;
	border: 0px;
}

.botão-Acessibilidade{
	display: 1;
	position: relative;	
	font-family:Titillium Web;
	text-align: center;
	font-size: 23px;
	width:0px;
	height:0px;
	position: absolute;
	left:83%;
	top:10px;
	border: 0px;
}

#altoContraste{
	display: 1x;	
	font-size: 18px;
	position:absolute;
	left:80%;
	top: 75px;
	font-family:Roboto;
	text-align:left;
}

#Pesquisar{ 
	display: flex;
	background-color: white;
	font-size: 20px;
	width:40%;
	height:37px;
	position: relative;
	left:300px;
	top:-14px;
	outline: 0;
}


#anuncio { 
	position:relative;
	background-color:rgba(255, 255, 255);
	width:233px;
	height:387px;
}
#grid{
	position: relative;
    background-color: rgba(255, 255, 255);
    width: 40%;
    height: 387px;
}

#gridIMG1{
	position: relative;
    left: 13%;
    width: 200px;
}

#gridIMG1{
	position: relative;
    left: 13%;
    width: 200px;
}

#gridIMG2{
	position: relative;
    top: 30%;
    left: 13%;
    width: 180px;
}

#gridIMG3{
	position: relative;
    top: 20%;
    left: 13%;
    width: 200px;
}

#sombraAnuncio { 
	box-shadow:50px 40px 100px rgba(0, 0, 0, 0.1);
	width:233px;
	height:337px;
	position:absolute;
	left:10%;
	top:50px;
}


#fraseAnuncio1 { 
	
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:99px;
	height:33px;
	position:absolute;
	left:58px;
	top:295px;
	font-family:Titillium Web;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}



#rodape { 
	position: absolute;
    bottom: unset;
    width: 100%;
}

#fundo-rodape{ 
	background-color: #C4C4C4;;
	width:100%;
	height:200px;
	/* position:absolute; */
	align-self: center;
}
#fundo-img{
	position:absolute;
	left: 0%;
	top: 3%;
}

#youtube{
	width:35px;
	position:absolute;
	left: 66.3%;
	top: 9%;

}
#instagram{
	width:29px;
	position:absolute;
	left: 70%;
	top: 10%;
}

#facebook{
	width:25px;
	position:absolute;
	left: 73%;
	top: 10.5%;
}

#desenvol { 
	font-size: 20px;
	height:100px;
	position:absolute;
	left:35%;
	top:97px;
	font-family:Roboto;
	
}
#ei221_302_111_677 { 
	opacity:1;
	width:369px;
	height:133px;
	position:absolute;
	left:41px;
	top:12px;
}

#ei221_302_155_0 { 
	background-color:rgba(234.81250405311584, 233.8341173529625, 233.8341173529625, 1);
	opacity:1;
	width:1095px;
	height:73px;
	position:absolute;
	left:132px;
	top:98px;
}

#ei221_302_157_0 { 
	background-color:rgba(234.81250405311584, 233.8341173529625, 233.8341173529625, 1);
	opacity:1;
	width:234px;
	height:79px;
	position:absolute;
	left:814px;
	top:19px;
}
#ei221_302_157_1 { 
	background-color:rgba(234.81250405311584, 233.8341173529625, 233.8341173529625, 1);
	opacity:1;
	width:246px;
	height:75px;
	position:absolute;
	left:568px;
	top:12px;
}



#ei221_302_221_110 { 
	background-color:rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
	width:398px;
	height:41px;
	position:absolute;
	left:292px;
	top:29px;
}
#atentimento { 
	height:100px;
	width:300px;
	position:absolute;
	top:10%;
	left:20%;
	font-family:Roboto;
	font-size:15px;
	
}
